{
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "accessor-pairs": 0,
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "arrow-spacing": 1,
    "babel/arrow-parens": 0,
    "block-scoped-var": 0,
    "constructor-super": 1,
    "consistent-return": 1,
    "curly": [1, "all"],
    "default-case": 0,
    "dot-location": 0,
    "dot-notation": [1, { "allowKeywords": true }],
    "eqeqeq": 1,
    "generator-star-spacing": 0,
    "guard-for-in": 0,
    "no-alert": 1,
    "no-confusing-arrow": 1,
    "no-caller": 1,
    "no-case-declarations": 1,
    "no-class-assign": 1,
    "no-const-assign": 1,
    "no-div-regex": 0,
    "no-dupe-class-members": 1,
    "no-else-return": 0,
    "no-empty-pattern": 1,
    "no-eq-null": 0,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 0,
    "no-implicit-coercion": 0,
    "no-implied-eval": 1,
    "no-invalid-this": 0,
    "no-iterator": 1,
    "no-labels": [1, {"allowLoop": true, "allowSwitch": true}],
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-magic-numbers": 0,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-native-reassign": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-new": 1,
    "no-octal-escape": 1,
    "no-octal": 1,
    "no-param-reassign": 0,
    "no-process-env": 0,
    "no-proto": 1,
    "no-redeclare": 1,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-this-before-super": 1,
    "no-throw-literal": 1,
    "no-unused-expressions": 1,
    "no-unused-vars": 1,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-var": 1,
    "no-void": 0,
    "no-warning-comments": 0,
    "no-with": 1,
    "object-shorthand": 1,
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "prefer-reflect": 0,
    "prefer-spread": 1,
    "prefer-template": 1,
    "radix": 0,
    "require-yield": 1,
    "semi": 1,
    "vars-on-top": 0,
    "wrap-iife": 0,
    "yoda": [1, "never"]
  }
}