{
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "accessor-pairs": 0,
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "arrow-spacing": 4,
    "babel/arrow-parens": 0,
    "block-scoped-var": 0,
    "constructor-super": 4,
    "consistent-return": 4,
    "curly": [4, "all"],
    "default-case": 0,
    "dot-location": 0,
    "dot-notation": [4, { "allowKeywords": true }],
    "eqeqeq": 4,
    "generator-star-spacing": 0,
    "guard-for-in": 0,
    "no-alert": 4,
    "no-confusing-arrow": 4,
    "no-caller": 4,
    "no-case-declarations": 4,
    "no-class-assign": 4,
    "no-const-assign": 4,
    "no-div-regex": 0,
    "no-dupe-class-members": 4,
    "no-else-return": 0,
    "no-empty-pattern": 4,
    "no-eq-null": 0,
    "no-eval": 4,
    "no-extend-native": 4,
    "no-extra-bind": 4,
    "no-fallthrough": 4,
    "no-floating-decimal": 0,
    "no-implicit-coercion": 0,
    "no-implied-eval": 4,
    "no-invalid-this": 0,
    "no-iterator": 4,
    "no-labels": [4, {"allowLoop": true, "allowSwitch": true}],
    "no-lone-blocks": 4,
    "no-loop-func": 4,
    "no-magic-numbers": 0,
    "no-multi-spaces": 4,
    "no-multi-str": 4,
    "no-native-reassign": 4,
    "no-new-func": 4,
    "no-new-wrappers": 4,
    "no-new": 4,
    "no-octal-escape": 4,
    "no-octal": 4,
    "no-param-reassign": 0,
    "no-process-env": 0,
    "no-proto": 4,
    "no-redeclare": 4,
    "no-return-assign": 4,
    "no-script-url": 4,
    "no-self-compare": 4,
    "no-sequences": 4,
    "no-this-before-super": 4,
    "no-throw-literal": 4,
    "no-unused-expressions": 4,
    "no-unused-vars": 4,
    "no-useless-call": 4,
    "no-useless-concat": 4,
    "no-var": 4,
    "no-void": 0,
    "no-warning-comments": 0,
    "no-with": 4,
    "object-shorthand": 4,
    "prefer-arrow-callback": 1,
    "prefer-const": 4,
    "prefer-reflect": 0,
    "prefer-spread": 4,
    "prefer-template": 1,
    "radix": 0,
    "require-yield": 4,
    "semi": 4,
    "vars-on-top": 0,
    "wrap-iife": 0,
    "yoda": [4, "never"]
  }
}