module.exports = {
	development: {
		crawl_master: {
			host_ip: "{{ hostvars[groups['crawl-master'][0]]['ansible_host'] }}"
		},
		database: {
			redis: {
				host: "{{ hostvars[groups['crawl-master'][0]]['ansible_host'] }}",
				port: 6379,
				db: 0,
				options: {}
			},
			postgres: {
				database: "crawler",
				port: 5432,
				username: "crawl_worker",
				password: "mybadpassword",
				opts: {
					host: "{{ hostvars[groups['crawl-master'][0]]['ansible_host'] }}",
					dialect: "postgres",
					logging: false
				}
			}
		},
		queue: {
			kue: {
				prefix: "crawler_kue",
				jobEvents: false,
				disableSearch: true,
				redis: {
					host: "{{ hostvars[groups['crawl-master'][0]]['ansible_host'] }}",
					port: 6379,
					db: 0,
					options: {}
				}
			}
		} 
	}
}